<div class="container">
  <div class="col-md-12">
    <div class="row no-gutters">
      <div class="col-md-4">
        <a routerLink="/home"><img src="/assets/Cook-Book-icon.png" alt="home"></a>
      </div>
      <div class="col-md-6">
        <h2>{{ title }}</h2>
        <ul class="text-left list-inline py-3">
          <li class="list-inline-item">
            <a routerLink="/recipes" class="btn btn-info">List Recipes</a>
          </li>
          <li *ngIf="isAdmin()" class="list-inline-item">
            <a routerLink="/addrecipe" class="btn btn-info">Add Recipe</a>
          </li>
        </ul>
      </div>
      <div class="col-md-1">
        <p class="text-left"><a routerLink="/login">Login</a></p>
      </div>
      <div class="col-md-1">
        <p class="text-left"><a (click)="logout()">Logout</a></p>
      </div>
    </div>
  </div>
  <div [hidden]="authenticated()">
    <h3>Login to application</h3>
  </div>
  <router-outlet></router-outlet>
</div>
