<div class="card my-5">
  <div class="card-body">
    <app-panel *ngFor="let recipeCategory of recipeCategoryList | recipeCategoryList"
               [title]="recipeCategory.desc" [opened]="recipeCategory.opened"
               (toggle)="recipeCategory.opened = !recipeCategory.opened">
      <div *ngFor="let recipe of recipes | recipeFilterCategory:recipeCategory.desc">
        <h3>{{ recipe.title }}</h3>
        <p><i>Difficulty: {{recipe.difficultyDescRO}} PreparationTime: {{recipe.preparationTimeDescRO}}</i></p>
        <p>{{ recipe.ingredients }}</p>
        <p>{{ recipe.directions }}</p>
      </div>
    </app-panel>

  </div>
</div>
